#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #996dfe;
    margin-top: -5px;
  }

  h2 {
    align-self: flex-start;

    margin-top: 64px;
  }

  p {
    align-self: flex-start;
    text-align: justify;

    width: 512px;
    margin-top: 18px;
  }

  .placeholder {
    color: #7c7c8a;
    user-select: none;
  }
}
